<%= render 'books/list', user: @user, new_book: @new_book %>
  
  <div class="col-md-8 offset-md-1">
    <table class="table books-index">
        <h2>Users</h2>
        <thead>
          <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
          <th></th>
          <th></th>
          </tr>
        </thead>
        <tbody>
    <% @users.each do |user| %>
    <tr>
      <th>
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
      </th>
      <th><p><%= user.name %></p></th>
      <th></th>
      <th></th>
      <th><p><%= link_to"Show",user_path(user.id) %></th></p></th>
    </tr>
     <% end %>
        </tbody>
      </table>
      </div>
      </div>
      </div>
      </div>