<%= render 'books/list', user: @user, new_book: @new_book %>
  
  <div class="col-md-8 offset-md-1">
    <table class="table books-index">
        <h2>Books</h2>
        <thead>
          <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th></th>
          <th></th>
          </tr>
        </thead>
        <tbody>
    <% @books.each do |book| %>
    <tr>
      <th>
        <p><%= link_to image_tag('no_image.jpg'), user_path(@user.id) %></p>
      </th>
      <th><p><%= link_to book.title, book_path(book.id) %></p></th>
      <th><p><%= book.body %></p></th>
      <th></th>
      <th></th>
    </tr>
    <% end %>
        </tbody>
      </table>
      </div>
      </div>
      </div>
      </div>