<div>
<h1 class="text-center">Welcom to <i class="fas fa-book"></i>Bookers!</h1>
</div>

<footer>
<div class="fixed-bottom" style="height:50px; background-color: white;">
<p class="text-center">CopyRight Infratop.inc</a>
</div>
</footer>