<!DOCTYPE html>
<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/76bba8cbdd.js" crossorigin="anonymous"></script>
  </head>

<body>
 <div class="row">
   <div class="mx-auto" style="width: 700px">
 <h1>welcome to <i class="fas fa-book"></i>Bookers!!</h1>
 </div>
 </div>
 <div class="row">
  <div class="mx-auto" style="width: 700px">
 <p>in <i class="fas fa-book"></i>Bookers,</p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>
 </div> 
 </div>

 <div class="row">
   <div class="mx-auto", style="width: 700px">
 <%= link_to "Log in", new_user_session_path, class:"btn btn-info" %></div>
   </div>
 <div class="row">
   <div class="mx-auto", style="width: 700px">
 <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success" %></div>
 </div>
</body>